footer{
  display: flex;
  padding-bottom: 30px;
  justify-content: space-evenly;

  & #logo_footer{
    padding-top: 20px;
  }

  & .links{

    & li{
      margin-bottom: 10px;
    }
  }

  & .join_us{
    text-align: center;

    & p{
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width:600px){
  footer{
    flex-direction: column;
    align-content: center;
    margin: 0;
    width: 100%;

    & .links ul li{
      text-align: center;
    }
    & #logo_footer{
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
  }
}