header{
  background-color: orange;
  display: flex;

  flex-direction: column;
  font-weight: bold;
  color: whitesmoke;
  font-size: 10px;

  & div{
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }

  & nav{
    padding: 10px;
    background-color: #07a0e6;
    text-transform:uppercase;

    & ul {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-evenly;

      & a{
        text-decoration: none;
        color: whitesmoke;
      }
      & a:hover{
        color: orange;
        transform: translateY(-1px);
      }
      & li:active{
        transform: translateY(2px);
      }
    }
  }
}

@media screen and (max-width:1200px)
{
  header {

    & div{
      margin: 30px 0;
    }
  }
}

@media screen and (max-width:600px)
{
  header{
    & nav{

      & ul{
        display: block;
        margin-left: 20%;
        & li{
          padding: 10px 0;
        }
      }
    }
  }
}