.presentation{
  background-color: green;
  padding:50px 10%;
  background-image: linear-gradient(#29b6f6, #0277bd);
  display: flex;
  align-items: center;
  color: whitesmoke;

  & .content_text{
    margin-left: 30px;
    width: 50%;

    & p{
      font-size: 75%;
      margin-bottom: 15px;
    }

    & button{
      background-color:#fdec09;
      border-radius:28px;
      border:1px solid #b0a505;
      cursor:pointer;
      font-size:13px;
      padding:10px 30px;
      text-decoration:none;
      text-shadow:0 1px 0 #aba018;
    }

    & button:hover {
      background-color: #f13333;
      text-shadow:none;
    }

    & button:active {
      transform: translateY(2px);
      text-shadow: none;
      transition: all 0.5s;
    }
  }
}

@media screen and (max-width:600px){
  .presentation{
    flex-direction: column;

    & .content_text{
      margin-top: 35px;
      width: 90%;

      & button{
        width: max-content;
        margin-left: 30%;
      }
    }
  }
}